@charset "utf-8";

.form{
  display: flex;
}
.form input{
  flex:1;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #c5f6fa;
}
.create_btn{
  padding:0.5rem 1rem;
  margin-left: 1rem;
  background: #33b8cf;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}